@import "tailwindcss";

.table-header{
    @apply text-left text-gray-600 font-normal text-[16px] py-2;
}

.task-priority , .task-title{
   @apply  py-1;
}

.createTaskScrollbar{
    scrollbar-width: none;
    scroll-behavior: smooth;
}
 /* glowing line effect */
.line {
  box-shadow: 0 0 2px rgba(108, 64, 152, 0.6), 0 0 2px rgba(113, 39, 186, 0.9);
}